html{
	position:relative;
	min-height: 100%;
}

body{
	margin: 0px;
	height: 100%;
}

@font-face {
    font-family: pmdfont;
    src: url('/resc/pmdfont.ttf')  format("truetype");
}

@font-face {
    font-family:sansation;
    src: url('/resc/Sansation_Regular.ttf')  format("truetype");
}

 a:link {
 color: green;
 }

span {
  background-color: #ffffff;
}

.tpe-h1 {
  font-size: 0.6in;
}

.tpe-h2 {
  font-size: 0.5in;
}

.tpe-h3 {
font-size: 0.4in;
}

.tpe-p {
  font-size: 0.3in;
}
.tpe-a {
font-size: 0.35in;
}
.tpe-body {
  background-image: url(/resc/image/tpebg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  font-family: "pmdfont";
}

.tpe-small{
 font-size:0.17in; 
}

.psfla-body{
  background-color: #ccffff;
  color: #000000;
  font-family:"sansation";	
}

.psfla-h1{
 font-size: 0.3in;
}

.psfla-p{
 font-size: 0.2in;
}

.psfla-a{
 font-size: 0.25in;
}

#fulldiv{
  height: 100vh;
  min-height: 10.5in;
  float: left; 
  width: 50%;
}

#lowerhtml{
	font-family: Courier New;
	position: fixed; 
	bottom: 1%;
	width: fit-content;
	text-align: center;
	left: 50%;
	transform: translate(-50%);
	max-height: 3in;
}

.bigimg{
	width: 70%;
	image-rendering: pixelated;
	margin: 3%;
}

#psflaimg{
	padding: 1%;
	border-style: solid;
	border-width: medium;
	border-color: green;
	border-radius: 3px;
	background-color: #e6ffff;
}

#psfla-main{
	margin: auto;
	max-width: 80%;
	background-color: #99ff66;
	border-style: solid;
	border-width: medium;
	border-color: green;
	border-radius: 3px;
}

 @media screen and (orientation:portrait) {	
	#fulldiv{
		width: 100vw;
		height: unset;
	}
 }